#container {
    width: 280px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
}

    #container label {
        font-weight: bold;
        line-height: 5px;
    }

    #container input[type=text] {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        width: 170px;
    }

#btn-submit {
    margin-top: 3px;
}
