<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=C:\Wexflow\Database\Wexflow.sqlite;Version=3;"/>
    <add key="workflowsFolder" value="..\..\..\..\..\samples\net\Wexflow\Workflows"/>
    <add key="recordsFolder" value="C:\Wexflow\Records"/>
    <add key="documentFile" value="C:\WexflowTesting\Records\document.xls"/>
    <add key="invoiceFile" value="C:\WexflowTesting\Records\invoice.xls"/>
    <add key="timesheetFile" value="C:\WexflowTesting\Records\timesheet.doc"/>
    <add key="buildDevDatabase" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
