<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Database=wexflow;RavenUrl=http://localhost:8080"/>
    <add key="workflowsFolder" value="..\..\..\..\..\samples\net\Wexflow\Workflows"/>
    <add key="recordsFolder" value="C:\Wexflow\Records"/>
    <add key="documentFile" value="C:\WexflowTesting\Records\document.xls"/>
    <add key="invoiceFile" value="C:\WexflowTesting\Records\invoice.xls"/>
    <add key="timesheetFile" value="C:\WexflowTesting\Records\timesheet.doc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
