<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=localhost;Trusted_Connection=True;Database=wexflow;"/>
    <add key="workflowsFolder" value="..\Wexflow.Scripts.MongoDB\Workflows"/>
	<add key="recordsFolder" value="C:\Wexflow\Records"/>
    <add key="documentFile" value="C:\WexflowTesting\Records\document.xls"/>
    <add key="invoiceFile" value="C:\WexflowTesting\Records\invoice.xls"/>
    <add key="timesheetFile" value="C:\WexflowTesting\Records\timesheet.doc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>