<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscUtils" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.BootConfig" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Btrfs" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Core" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Dmg" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Ext" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Fat" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.HfsPlus" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Iscsi" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Iso9660" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Lvm" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Net" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Nfs" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Ntfs" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.OpticalDiscSharing" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.OpticalDisk" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Registry" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Sdi" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.SquashFs" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Streams" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Swap" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Udf" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Vdi" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Vhd" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Vhdx" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Vmdk" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Wim" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Xfs" version="0.16.13" targetFramework="net48" />
  <package id="DiscUtils.Xva" version="0.16.13" targetFramework="net48" />
  <package id="lzfse-net" version="1.0.15" targetFramework="net48" />
  <package id="lzo.net" version="0.0.6" targetFramework="net48" />
</packages>